
body {
  font-family: 'Raleway', sans-serif;
	margin: auto 10px;
    width: auto;
    height: 2000px;
	color: #2C2C2C;
}
div {
    background-color: #2C2C2C;
    color: #E5E5E5;
}
#todos {
  background-color: #2C2C2C;
    color: #E5E5E5;
    border: transparent;
}
.block {
  display:inline-block;
  height:100%;
  width:18%;
}
.block2 {
  display:inline-block;
  height:100%;
  width:60%;
}

.percentage {
  display:inline-block;
	font-size: 200px;
	font-family: "Times New Roman";
  text-align: center;
  padding-right:100px;
  padding-left: 100px;
}
.time {
	font-size: 50px;
}
.counter {
  background: #2C2C2C;
  -moz-box-shadow:    inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow:         inset 0 0 5px #000000;
  min-height: 150px;
  text-align: center;
}

.counter h3 {
  color: #E5E5E5;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  letter-spacing: 1px;
  padding-top: 20px;
  margin-bottom: 30px;
}

#countdown {
  color: #FFFFFF;
}

#countdown span {
  color: #E5E5E5;
  font-size: 20px;
  font-weight: normal;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}